body {
   background-image: url(backlit.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

h1{
    display: flex;
    justify-content: center;
    color: aqua;
    border: 5px solid white;
    width: 200px;
    margin: 60px auto;
    text-align: center;
}
label{
   color:black;
}

.name{
   display: flex;
   justify-content: center;
   margin-left: 15em; 
   font: 30px arial, sans-serif;
}

.language{
   display: flex;
   justify-content: center;
   font-size: 3em;
}

.counter{
   display: flex;
   justify-content: center;
   color: black;
   padding-right: 35em;
   font-size: 2em;
}

.greet-button{
   display: flex;
   justify-content: center;
} 
span{
   color:black;
   font-size: 16px;
   margin:3em;
   font: 20px arial, sans-serif;

}

