body {
   background-image: url(backlit.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

h1{
    display: flex;
    justify-content: center;
    color: aqua;
    border: 5px solid white;
    width: 200px;
    margin: 60px auto;
    text-align: center;
}
label{
   color:white;
}

.name{
   display: flex;
   justify-content: center;
   margin-left: 10em;
}

.language{
   display: flex;
   justify-content: center;
   font-size: 3em;
}

.greet-button{
   display: flex;
   justify-content: center;
} 
span{
   color:black;
   font-size: 16px;
   margin:3em;

   /* background-color: grey; */
}

